.container {
    width:100%;
    border:1px solid #FFCF40; /* d3d3d3 is gray */
}
.container div {
    width:100%;
}
.container .header {
    background-color:#4070FF;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
    background-color: #4070FF; /* Add this line for content background */
}